* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #4A4A4A;
}

h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #4A4A4A;
}

p {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

span {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    height: 4rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #ECECEC;
}

.logo {
   height: 2rem;
}

#colmar {
    color: #4A4A4A;
    font-weight: 600; 
    font-family: "Montserrat", sans-serif;
}

#academy {
    color: #9B9B9B;
    font-weight: 600; 
    font-family: "Montserrat", sans-serif;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nav li {
    display: inline;
    list-style: none;
    margin-left: 1rem;
}

.banner {
    position: relative;
    top: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: #F4F6FF;
}

.banner_img {
    width: 60%;
}

.banner_img img {
    width: 100%;
}

.banner_text {
    text-align: left;
    padding: 2rem 1.5rem;
}

.banner_text h1 {
    text-transform: uppercase;
    padding: 2rem 0;
}

button {
    width: 70%;
    height: 3rem;
    margin: 2rem 0;
    padding: 0.5rem auto;
    background-color: #FFFFFF;
    color: #4A4A4A;
    border: 2px solid #4A4A4A;
    font-weight: 700;
}

button:hover {
    border: 2px sold #E6EAEF;
    box-shadow: 2px 1px 1px #9B9B9B;
    color: #4A4A4A;
    background-color: #FFFFFF;
    cursor: pointer;
}

.information {
    position: relative;
    top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.information_main {
    width: 60%;
    padding: 2rem 1.5rem;
}

.information_main img {
    width: 100%;
    padding-bottom: 2rem;
}

.information_main h1 {
    padding-bottom: 1.5rem;
}

.information_main p, span {
    padding-bottom: 2rem;
}

.information_extra {
    width: 40%;
    padding: 2rem 0;
}

.extra_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid #E6EAEF;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.extra_container h2, p, span {
    padding-bottom: 0.5rem;
}

.extra_container:hover {
    background-color: #ECECEC;
    border: 1px solid #E6EAEF;
}

.extra_img {
    width: 35%;
    margin-right: 1rem;
}

.extra_text {
    width: 65%;
}

.extra_img img {
   width: 100%;
   height: auto;
}

.read {
    color: #468AC8;
}

.read:hover{
    text-decoration: underline;
}

.course_section {
    position: relative;
    top: 4rem;
    background-color: #F4F6FF;
    padding: 2rem 4.5rem;
}

.course_section h1 {
    text-transform: uppercase;
    padding-bottom: 2rem;
    text-align: center;
}

.course_container {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.sample_course {
    border: 5px solid #FFFFFF;
    width: 20rem;
    height: auto;
    margin: auto 1rem;
    margin-bottom: 2rem;
}

.sample_course:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s ease-out ;
}

.sample_course img {
    width: 100%;
}

.course_text {
    height: 12rem;
    background-color: #FFFFFF;
    padding: 1rem;
}

.course_text h2, p {
    padding-bottom: 0.5rem;
}

.thesis {
    position: relative;
    top: 4rem;
    padding: 2rem 0;
    padding-left: 1.5rem;
    border-bottom: 1px solid #ECECEC;
}

.thesis h1 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
}

.thesis_container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.thesis_main {
    width: 60%;
    padding-right: 1.5rem;
}

.thesis_main video {
    width: 100%;
}

.thesis_main h2 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.thesis_extra {
    width: 40%;
}

footer {
    position: relative;
    top: 4rem;
    height: 5rem;
    padding: 1rem 1.5rem;
    display: flex;
}

.TandP {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}