* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #4A4A4A;
}

h2 {
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #4A4A4A;
}

p {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
}

span {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    height: 4rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #ECECEC;
}

.logo {
   height: 2rem;
}

#colmar {
    color: #4A4A4A;
    font-weight: 600; 
}

#academy {
    color: #9B9B9B;
    font-weight: 600; 
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.nav li {
    display: inline;
    list-style: none;
    margin-left: 1rem;
    transition: all 0.5s ease-in 1s;
}

.banner {
    position: relative;
    top: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: #E6EAEF;
}

.banner_img {
    width: 60%;
}

.banner_img img {
    width: 100%;
}

.banner_text {
    text-align: left;
    padding: 2rem 1.5rem;
}

.banner_text h1 {
    padding: 2rem 0;
}

button {
    width: 80%;
    height: 3rem;
    margin: 2rem 0;
    padding: 0.5rem auto;
    background-color: #9B9B9B;
    color: #FFFFFF;
    border: 2px solid #9B9B9B;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s ease-out 0.2s;
}

button:hover {
    box-shadow: 2px 1px 1px #9B9B9B;
    color: #4A4A4A;
    background-color: #E6EAEF;
    cursor: pointer;
}

.information {
    position: relative;
    top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.information_main {
    width: 60%;
    padding: 2rem 1.5rem;
}

.information_main img {
    width: 100%;
    padding-bottom: 2rem;
}

.information_main h1 {
    padding-bottom: 1.5rem;
}

.information_main p, span {
    padding-bottom: 2rem;
}

.information_extra {
    width: 40%;
    padding: 2rem 0;
}

.extra_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid #E6EAEF;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.extra_container h2, p, span {
    padding-bottom: 0.5rem;
}

.extra_container:hover {
    background-color: #ECECEC;
    border: 1px solid #E6EAEF;
}

.extra_img {
    width: 35%;
    margin-right: 1rem;
    font-family: 'Quicksand';
}

.extra_text {
    width: 65%;
}

.extra_img img {
   width: 100%;
   height: auto;
}

.read {
    color: #468AC8;
}

.read:hover{
    text-decoration: underline;
}